
/*导航条*/
.check{
    color: #1C92E1!important;
}
/*第一屏*/
.page-frist{
    background-color: #1C92E1;
    width: 100%;
    height: 750px;
    /*margin-top: -20px;*/
}
.first-body{
    position: relative;
    background-color: #1C92E1;
    /*left: 18%;*/
    width: 1200px;
    height: 750px;
    margin-left:  auto;
    margin-right: auto;
   /* background-color: red;*/
}
.first-font{
    position: absolute;
    top:25%;
    left: 0;
}
.first-btn{
    position: absolute;
    top:65%;
    left: 0;
}
.first-btn img{
      border:none;   
}
.first-pc{
    position: absolute;
    top: 20%;
    right: 0;
}

/*第二屏*/
.page-second{
   /* position: relative;*/
    background-color: #3B3B3B;
    width: 100%;
    height: 750px;
}
.second-body{
    position: relative;
    margin-left:  auto;
    margin-right: auto;
    width: 1200px;
    height: 750px;
    background-color: #3B3B3B;
}
.second-font{
    position: absolute;
    right: 0%;
    top:20%;
}
.second-left{
    position: absolute;
    left: 0%;
    top:25%;
}

/*第三屏*/
.page-three{
    background-color: #F4BF41;
    width: 100%;
    height: 750px;
}
.three-body{
    position: relative;
    background-color: #F4BF41;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 750px;
    background-image: url(../image/three-earth.png);
}
.three-font{
    position: absolute;
    top: 25%;
    left: 0;
}
.three-pc{
    position: absolute;
    top: 20%;
    right: 0;
}

/**第四屏幕*/
.page-four{
    background-color: #2F3750;
    width:100%;
    height: 750px;
}
.four-body{
    position: relative;
    width: 1200px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F3750;
}
.four-font{
    position: absolute;
    top: 30%;
    right: 0;
}
.four-circle{
    position: absolute;
    top: 5%;
    left: 0;
}
/*第五屏幕**/
.page-five{
    background-color: #1DC5A9;
    width:100%;
    height: 750px;
}
.five-body{
    position: relative;
    width: 1200px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1DC5A9;
}
.five-font{
    position: absolute;
    left:0;
    top: 15%;
}
.five-pad{
    position: absolute;
    right: 0;
    top: 30%;
}
/**第六部分*/
.page-six{
    background-color: #616779;
    width: 100%;
    height: 750px;
}
.six-body{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #616779;
    width: 1200px;
    height: 750px;
}
.six-pad{
    position: absolute;
    left: 0;
    top: 10%;
}
.six-font{
    position: absolute;
    right: 0;
    top: 25%;
}
/*第七部分**/
.page-seven{
    background-color: #fff;
    width: 100%;
    height: 750px;
}
.seven-body{
    position: relative;
    background-color: #fff;
    width: 1200px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
}
.seven-btn{
    position: absolute;
    top: 5%;
    left: 40%;
}
.seven-lipic{
    width: 1200px;
    position: absolute;
    left: 0;
    top: 25%;
    text-align:center;
}
.seven-lipic ul li{
    width:393px;
    display: inline-block;
    list-style-type: none;   
    margin-left: auto;
    margin-right: auto;
}

/**第八部分*/
.page-eight{
    background-color: #fff;
    width: 100%;
    height: 750px;
}
.eight-body{
    position: relative;
    background-color: #fff;
    width: 1200px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
}


/*dialog 弹窗*/
.dialog-div{
    filter:alpha(Opacity=60);
    -moz-opacity:0.6;
    opacity: 0.6;
}
.dialog-container{
    width: 1000px;
    height: 100%;
    background-color: #1DC5A9;
}